extends layout

block content
  h1 Blog Posts
  div
    a(href="/") Home

    h2 Blog post 1
    p Dean Winchester
    p lorem ipsum hiuaweifhua sd ashdf  apohdf jdhf aiuehrf lajhsfg lzusdvblzs liua rlvaluihsedrb g   siuldfhglkabjfv alwrgb liuh
    div
    h2 Blog post 2
    p Harry Potter
    p lorem ipsum hiuaweifhua sd ashdf  apohdf jdhf aiuehrf lajhsfg lzusdvblzs liua rlvaluihsedrb g   siuldfhglkabjfv alwrgb liuh
    div
    h2 Blog post 3
    p Hermione Granger
    p lorem ipsum hiuaweifhua sd ashdf  apohdf jdhf aiuehrf lajhsfg lzusdvblzs liua rlvaluihsedrb g   siuldfhglkabjfv alwrgb liuh